BIOREACTOR_DEVELOPMENT_TEAM = 342Y69G7K9
BIOREACTOR_UITESTS_BUNDLE_IDENTIFIER = com.vidhichallani.BioReactorUITests

#include? "BioReactor.Local.xcconfig"

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(BIOREACTOR_DEVELOPMENT_TEAM)
PRODUCT_BUNDLE_IDENTIFIER = $(BIOREACTOR_UITESTS_BUNDLE_IDENTIFIER)
